@model List<ScoreTracker.Models.User>

<table data-toggle="table">
    <thead>
        <tr class="tr-class-1">
            <th colspan="3"><h2>Users</h2></th>
            <th data-width="100">
                <a asp-action="create" class="btn btn-primary">Create User</a>
            </th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Members</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model){
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @foreach(var team in user.Teams){
                        <p class="badge text-bg-secondary">@team.Name </p>
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>